<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashcards">
    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlashCards">
        <activity android:name=".activity.ConjuntoActivity"></activity>
        <activity android:name=".activity.EditorDeCartasVersoActivity" />
        <activity android:name=".activity.EditorDeGruposActivity" />
        <activity android:name=".activity.EditorDeBaralhoIdiomasActivity" />
        <activity android:name=".activity.GerenciadorDeAlertasActivity" />
        <activity android:name=".activity.EditorDeBaralhoActivity" />
        <activity android:name=".activity.EditorDeCartasActivity" />
        <activity android:name=".activity.CartaActivity" />
        <activity android:name=".activity.GrupoActivity" />
        <activity android:name=".activity.PerguntaSegundaAnimoActivity" />
        <activity android:name=".activity.PerguntaPrimeiraTempoActivity" />
        <activity android:name=".activity.InformacaoIdiomasIngActivity" />
        <activity android:name=".activity.InformacaoIdiomasActivity" />
        <activity android:name=".activity.BaralhoIdiomasActivity" />
        <activity android:name=".activity.BaralhoComumActivity" />
        <activity android:name=".activity.CriarBaralhoActivity" />
        <activity
            android:name=".activity.EsqueciSenhaActivity"
            android:theme="@style/Theme.FlashCardsLogim" />
        <activity
            android:name=".activity.CadastroActivity"
            android:theme="@style/Theme.FlashCardsLogim" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.FlashCardsLogim" />
        <activity
            android:name=".activity.InicialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FlashCardsLogim" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>